.drawer-panel{
    position: fixed; /* Stay in place */
    height: 100%; /* 100% Full-height */
    width: 60%; /* 0 width - change this with JavaScript */
    z-index: 1;
    left: -500px;

    top: 0;

    margin-left: -3%;
    padding-top: 5%;
    padding-bottom: 5%;


    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    border-right: 1px inset;
}

.background-menu-mobile{
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
}

.hidden{
    display: none;
}

.head-mobile{
    background-color: #f9f9f9;
    margin-top: 5px;
    padding: 5px;
    border-bottom-size: 1px;
    border-bottom-style: inset;
    border-bottom-color: #3F3F3F;
}

.hidden-header-mobile{}


.img_logo_mobile{
    width: 100%;
    height: 120px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 770px) {
    .hidden-header-mobile{
        display: none;
    }
}

.title-header-mobile{
    text-align: center;
    padding-bottom: 1em;
}

.title-header-mobile:hover,
.title-header-mobile:focus{
    text-decoration: none;
}

.title-header-mobile:active{
   background-color: #3F3F3F;
}

.btn-hamburger{
    float: left;
}

.btn-hamburger:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


.img_logo_mobile {

}


.blog-nav-item-mobile {
    text-decoration: none;
    font-size: 2em;
    padding-left: 15%;

    color: #a5a5a5;
}

.blog-nav-item-mobile:hover{
    color: #4d4d4d;
}

.panel-new{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

a {
    color: #404040
}

.glyphicon { font-size: 150%; }
.glyphicon-menu-left { font-size: 250%; }