.blog-card{
    /*transition(0.3s, height);*/
    background: #fff;
    border-radius: 3px;
    border: 1px solid #cfc7cf;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-shadow: 3px 7px 12px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 7px 12px -3px rgba(0, 0, 0, 0.3);

}

.photo-card{
    height: 300px;
    display:block;
    margin:auto;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.details{
/*@include transition(0.3s);*/
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    font-size: 110%;
    list-style: none;
    margin: 0;
    padding: 10px 15px;

    position: absolute;

    height: 100px;
    top: 200px;
    width: 100%;
}

.details ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.details a{

    color: #fff;
    border-bottom: 1px dotted;
}

.details a:hover{
    color: #00a396;
}


.autor{}
.date{}
.tags{}

.tags li{
    display: inline-block;
    margin-right: 3px;
}

.description{
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.description h3{
    font-family: "Roboto";
    line-height: 1em;
    margin: 0 0 10px 0;
}

.description h4{
    /*color: $grey / 1.5;*/
    color: #8c8b8b;
    font-family: "Open Sans";
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin: 1.2% 0;
}

.read-more{
    float: right;
    margin: 3px;
}

.summary{}
