<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>

  {/*INFO*/}
  <meta name="Author" content="Jonay Godoy" />
  <meta name="description" content="Blog personal sobre informática y programación"/>
  <meta name="keywords" content="jonay godoy, clean code, javascript,"/>
  <meta name="robots" content="index, follow" />
  {/*Info
  */}

  {/*ITEM PROPERTIES*/}
  <meta itemprop="name" content="Jonay Godoy" />
  <meta itemprop="jobTitle" content="Developer" />
  <meta itemprop="description" content={config.blogDescription}/>
  <meta itemprop="knows" content="javascript, clean code, xp" />
  <meta itemprop="email" content="jonay.godoy.reyes@gmail.com" />
  <meta itemprop="alternateName" content="jonay" />
  <meta itemprop="follows" content="https://twitter.com/GodoyJonay" />

  <!--
   {/*THUMB*/}

   <meta property="og:image" content="./metaImage.jpg"/>
   <meta property="og:image:width" content="460" />
   <meta property="og:image:height" content="460" />
   <link itemprop="image" href="./metaImage.jpg"/>
   <meta name="thumbnail" content="./metaImage.jpg" />
   {/*
   <link rel="canonical" href="https://ulisesantana.github.io/"/>
   <meta property="og:url" content="https://ulisesantana.github.io/"/>
   */}
   <meta property="og:type" content="website"/>


   {/*TWITTER*/}
   <meta name="twitter:site" content="@GodoyJonay"/>
   <meta name="twitter:card" content="summary"/>
   {/*<meta name="twitter:image" content="https://ulisesantana.github.io/img/profile.jpg" />*/}
   <meta name="twitter:title" content={config.blogTitle} />
   <meta name="twitter:description" content={config.blogDescription}/>
-->
   <title>Hablando con Máquinas</title>
 </head>
 <body>
 <div id="app"></div>
 </body>
 </html>
